html {
  font-family: sans-serif;
  line-height: 1.15;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: adobe-garamond-pro, serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: left;
  background-color: #fff;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-family: adobe-garamond-pro, serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.2;
  height: 3rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

blockquote {
  margin: 0 0 1rem;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a,
a:hover {
  color: #000 !important;
}

a:hover {
  text-decoration: underline;
}

header {
  display: block;
  padding: 3% 0;
  margin-bottom: 2rem;
  text-align: center;
}

h1.title {
  margin: 0;
  font-family: ltc-bodoni-175, serif;
  font-weight: 400;
  font-size: 2rem !important;
  line-height: 1;
  color: #000 !important;
}

a.navbar-item {
  font-family: ltc-bodoni-175, serif;
  font-size: 1.25rem;
  font-weight: 400;
}

.column.is-four-fifths.box,
.column.is-three-quarters.box {
  padding: 1.5rem !important;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

article h1 {
  margin-top: 0;
  font-family: ltc-bodoni-175, serif;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 1.5em;
  color: #000;
}

.is-full {
  padding: 0;
}

.is-full h2 {
  margin-top: 0;
  font-family: ltc-bodoni-175, serif;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.5em;
  color: #000;
}

article p,
.is-full p {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2em;
  color: #000;
}

.level-right > div > .button.is-light {
  margin-top: 0.5em;
  font-family: adobe-garamond-pro, serif;
  font-size: 1.125rem;
  color: #000;
}

.box.level {
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.card {
  margin-bottom: 2rem;
  border: none !important;
  border-bottom: 1px solid #dbdbdb !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.card > header {
  padding: 2% 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.card > header > .title > h1 {
  display: block;
  margin: 0;
  font-family: ltc-bodoni-175, serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
  color: #000;
}

.card > header > .subtitle > h3 {
  display: block;
  margin: 0;
  font-family: ltc-bodoni-175, serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2;
  color: #000;
}

.card > header > .subtitle > p {
  display: block;
  font-family: ltc-bodoni-175, serif;
  font-size: 0.8125rem;
  letter-spacing: 0.02em;
  line-height: 1.5em;
  color: #212121 !important;
}

.card .card-image img{
  margin-bottom: 1rem;
  width: 100% !important;
}

.card .card-content > div > p {
  display: none;
  margin-bottom: 1.5em;
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2em;
  color: #000;
}

.card .card-content > div > p:first-child {
  display: block;
}

.card .card-full-content > div > p {
  margin: 1.5em 0;
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2em;
  color: #000;
}

.card .card-content > .card-footer,
.card .card-full-content > .card-footer {
  border: none;
  font-family: adobe-garamond-pro, serif;
  color: #000;
}

.card .card-content > .card-footer > .button,
.card .card-full-content > .card-footer > .button {
  font-family: adobe-garamond-pro, serif;
  font-weight: 500;
  font-size: 1.25rem;
  text-decoration: none;
  color: #000;
}

.card .card-full-content > .card-footer > .button {
  margin-bottom: 2rem;
}

.uk-nav-primary > li > a {
  font-family: ltc-bodoni-175, serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.25em;
  color: #000;
}

.hero {
  margin: 0;
  padding: 1.5rem 0;
  width: 100%;
}

.hero img {
  width: 100%;
}

.container > .title > h1 {
  display: block;
  padding: 0;
  margin: 0;
  font-family: ltc-bodoni-175, serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
  width: 100%;
  color: #000;
  text-align: left;
}

.container > .content > p {
  margin: 1.5em 0;
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2em;
  color: #000;
}

.step > p > a {
  padding: 0;
  margin: 0;
  font-family: lato, sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1 !important;
  color: #000;
  text-decoration: none;
  vertical-align: middle;
}

.step > p {
  padding: 1rem 0;
  margin: 0;
  font-family: lato, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1 !important;
  color: #000;
  text-decoration: none;
  vertical-align: middle;
}

.step > p > a.button {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #2793da;
  border-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  font-family: lato, sans-serif;
  font-variant: small-caps;
  font-weight: 600;
  font-size: 1.25rem !important;
  color: #fff !important;
  text-decoration: none;
}

.step h1.title {
  font-family: lato, sans-serif;
  font-size: 3rem !important;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.5em;
}

.info h2 {
  margin: 0;
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.2em;
  color: #000;
}

.info > div > p,
.info > div > div > p {
  margin: 1rem 0;
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2em;
  color: #000;
}

.uk-form-label {
  font-family: adobe-garamond-pro, serif !important;
  font-weight: 400 !important;
  font-size: 1.25rem !important;
  line-height: 1.2em !important;
}

button {
  font-family: adobe-garamond-pro, serif !important;
  font-weight: bold !important;
}

.footer {
  padding: 1rem 1.5rem;
  background: none;
}

form {
  margin: 2rem 0;
  font-family: adobe-garamond-pro, serif !important;
}

form.offer {
  margin: 0;
  margin-bottom: 2rem;
  font-family: adobe-garamond-pro, serif !important;
}

.label {
  display: block;
  font-family: adobe-garamond-pro, serif !important;
  font-size: 1.75rem;
  font-weight: 500;
  color: #363636;
}

.offer > h5 {
  display: block;
  font-family: adobe-garamond-pro, serif !important;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 2;
  color: #363636;
}

.offer h6 {
  display: block;
  font-family: adobe-garamond-pro, serif !important;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2;
  color: #363636;
}

.info > .offer > p {
  margin: 0;
  font-family: adobe-garamond-pro, serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.25em;
  color: #000;
}

ol li {
  padding: 0 !important;
  border: white 1px solid !important;
  font-family: adobe-garamond-pro, serif !important;
  font-size: 1.25rem !important;
}

.select,
select {
  padding: 0 !important;
  border: white 1px solid !important;
  font-family: adobe-garamond-pro, serif !important;
  font-size: 1.25rem !important;
}

.select select:not([multiple]) {
  padding-right: 2.5em !important;
}

.select select option {
  font-family: adobe-garamond-pro, serif !important;
}

input.offer {
  margin-top: 1.5rem;
}

.uk-close {
  color: #000 !important;
}

.uk-close:hover, .uk-close:focus {
  color: #222 !important;
  outline: none;
}


form {
}


@media (max-width: 479px) {
  .navbar-end a.navbar-item {
    display: inline-block;
    padding: 0 0.75rem;
    line-height: 1;
  }
}

@media (max-width: 375px) {
  .title > h1 {
    font-size: 2rem !important;
  }
}

@media (max-width: 320px) {
  .title > h1 {
    font-size: 2rem !important;
  }
  .navbar-end a.navbar-item {
    display: inline-block;
    padding: 0 0.75rem;
    line-height: 1;
  }
}
